@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* SCSS HEX */
$powder-blue: #98c1d9ff;
$slate-blue: #6969b3ff;
$tekhelet: #533a7bff;
$violet-jtc: #4b244aff;
$licorice: #25171aff;
$homeBg: #fff;
$sidePaddings: 10%;

$textColor: #555;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;

  img {
    vertical-align: middle;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $slate-blue;
    border-radius: 10px;
    border: 1px inset white;
  }
}


html,
body {
  height: 100%;
}


:root {
  font-family: 'Roboto Slab', serif;
}

#root {
  height: 100%;

}

.App {
  height: 100%;



  .hidden {
    opacity: 0;
    filter: blur(3px);
    transition: all .6s ease-out;
  }

  .hidden.left {
    transform: translateX(-300px);
  }

  .hidden.right {
    transform: translateX(300px);
  }

  .hidden.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}


.navbarCont {
  height: 12%;
  position: relative;

  .navbarWave {
    display: none;
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 10;

    &.scrolled {
      display: block;
    }
  }

  .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $homeBg;
    color: $licorice ;
    padding: 0 5%;


    .siteName {
      font-weight: 900;
      font-size: 2.2rem;
      color: $slate-blue;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .links {
      display: flex;
      font-family: 'Abel', sans-serif;
      font-size: 1.3rem;
      padding-top: .7rem;

      .link {
        text-decoration: none;
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        transition: all .3s;
        color: $textColor;
        padding: 0 1.5rem;

        &:hover {
          transform: translateY(-3px);
          text-decoration: none;
          color: $slate-blue;
        }
      }
    }

    &.scrolled {
      background-color: $slate-blue;

      .siteName {
        color: #eee;
        text-decoration: none;
      }

      .link {
        color: #eee;

        &:hover {
          color: #eee;
          text-decoration: underline;
        }

      }
    }
  }
}




.mainSection {
  height: 88%;
  overflow-y: overlay;
  scroll-behavior: smooth;
  padding-top: 1rem;
}

.home {
  overflow: hidden;
  height: 100%;
  background-color: $homeBg;
  padding: 0 $sidePaddings;
  display: flex;
  color: $slate-blue;
  font-family: 'Abel', sans-serif;

  .descCont {
    padding: 5rem 0;

    min-width: 50%;

    .header {
      font-size: 2.5rem;
      font-weight: 900;
    }

    .desc {
      padding: 1rem 1rem 0;
      font-size: 1.3rem;
      color: $textColor;

    }

  }

}


.effectsCont {
  height: 100%;

  img {
    height: 5rem;
    width: 100%;

  }

  .effects {
    height: 100%;
    overflow: hidden;
    background-color: $powder-blue;
    padding: 0 $sidePaddings;
    display: flex;
    color: $slate-blue;
    font-family: 'Abel', sans-serif;

  }
}