@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* SCSS HEX */
$powder-blue: #98c1d9ff;
$slate-blue: #6969b3ff;
$tekhelet: #533a7bff;
$violet-jtc: #4b244aff;
$licorice: #25171aff;
$sidePaddings: 10%;

$textColor: #555;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;

  img {
    vertical-align: middle;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $slate-blue;
    border-radius: 10px;
    border: 1px inset #6969b377;
  }
}


html,
body {
  height: 100%;
}


:root {
  font-family: 'Roboto Slab', serif;
}

#root {
  height: 100%;

}

.App {
  height: 100%;

  .hidden {
    scale: .5;
    opacity: 0;
    transition: all .5s ease-out;
  }

  .hidden.top {
    transform: translateY(-180px);
  }

  .hidden.right {
    transform: translateX(320px);
  }


  .hidden.bottom {
    transform: translateY(180px);
  }

  .hidden.left {
    transform: translateX(-320px);
  }


  .hidden.show {
    scale: 1;
    opacity: 1;
    transform: translateX(0);
  }
}


.navbarCont {
  height: 4.5rem;
  position: relative;

  .navbarWave {
    display: none;
    position: absolute;
    width: 100%;
    height: 1.5rem;
    z-index: 100;

    &.scrolled {
      display: block;
    }
  }

  .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: $licorice ;
    padding-inline: 5%;
    overflow-x: hidden;
    overflow: hidden;


    .siteName {
      word-break: keep-all;
      font-weight: 900;
      font-size: 2rem;
      color: $slate-blue;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: underline;
    }

    .links {
      display: flex;
      font-family: 'Abel', sans-serif;
      font-size: 1.2rem;
      padding-top: .7rem;

      .link {
        text-decoration: none;
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        transition: all .3s;
        color: $textColor;
        padding: 0 1.2rem;

        &:hover {
          transform: translateY(-3px);
          text-decoration: none;
          color: $slate-blue;
        }
      }
    }

    &.scrolled {
      background-color: $slate-blue;

      .siteName {
        color: #eee;
        text-decoration: none;
      }

      .link {
        color: #eee;

        &:hover {
          color: #eee;
          text-decoration: underline;
        }

      }
    }
  }
}

.mainSection {
  height: calc(100% - 4.5rem);
  overflow-y: overlay;
  scroll-behavior: smooth;
  padding-top: 1rem;

  .waves {
    height: 5rem;
    width: 100%;
  }
}

.homeCont {
  height: calc(100% + 5rem);

  .home {
    overflow: hidden;
    height: calc(100% - 5rem);
    background-color: #fff;
    padding: 0 $sidePaddings 2rem;
    display: flex;
    color: $slate-blue;
    font-family: 'Abel', sans-serif;

    img {
      height: 100%;
    }

    .descCont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5rem 0;


      .header {
        font-size: 2.5rem;
        font-weight: 900;
      }

      .desc {
        padding: 1rem 1rem 0;
        font-size: 1.3rem;
        color: $textColor;

      }

    }

  }
}



.effectsCont {
  height: auto;
  background-color: $powder-blue;

  .effects {
    height: 100%;
    overflow: hidden;
    padding: 1rem $sidePaddings;
    color: $textColor;

    .header {
      text-decoration: underline;
      text-align: center;
      font-size: 2rem;
      font-weight: 900;
      margin: .5rem 0 1.5rem;
      color: $tekhelet;
    }

    .cards {
      font-family: 'Abel', sans-serif;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 3rem;
      gap: 2rem;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        overflow: hidden;

        &:nth-child(2) {
          border: 4px dashed $tekhelet;
          border-radius: 1rem;
          transform: translateY(-3rem);
        }

        .descCont {
          padding: 1.5rem 0;
          overflow: hidden;
          text-align: center;

          .descHeader {
            padding-bottom: .3rem;
            font-size: 1.7rem;
            font-weight: 900;
          }

          .desc {
            font-size: 1.15rem;
            opacity: .9;
            font-weight: 400;
          }
        }
      }

      .icon {
        width: 30%;
        height: auto;
      }
    }


  }
}

.graphicsCont {
  height: calc(100% + 5rem);
  background-color: #ecebe7;

  .graphics {
    overflow: hidden;
    height: calc(100% - 5rem);
    padding: 2rem $sidePaddings 0;
    display: flex;
    color: $slate-blue;
    font-family: 'Abel', sans-serif;

    img {
      height: 100%;
    }


    .descCont {
      padding: 1rem 0 0 2rem;
      text-align: center;

      img {
        width: 100%;
        height: auto;
      }

      .header {
        font-size: 2.5rem;
        font-weight: 900;
      }

      .desc {
        padding: .5rem 1rem;
        font-size: 1.3rem;
        opacity: .8;
        color: $textColor;

      }
    }
  }
}

.whatToDoCont {
  height: auto;

  .whatToDo {
    overflow: hidden;
    height: 100%;
    background-color: $tekhelet;
    padding: 0 $sidePaddings 5rem;
    color: #eee;
    font-family: 'Abel', sans-serif;

    .header {
      width: 100%;
      font-size: 2rem;
      font-weight: 900;
      padding-bottom: 3rem;
      color: #eee;
      text-decoration: underline;
      transform: rotate(-5deg);
    }

    .suggestions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      color: $textColor;


      .hidden.show {
        transform: translateX(0) rotate(-4deg);
      }

      .suggestion {
        display: flex;
        background-color: #e7d9fa;
        border-radius: 1rem;
        overflow: hidden;

        img {
          width: 250px;
          height: auto;
          transform: rotate(0deg) !important;
        }

        .descCont {
          padding: 1rem 1rem 1rem 0;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .descHeader {
            font-size: 1.7rem;
            color: $slate-blue;
            font-weight: 900;
          }

          .desc {
            padding-top: .3rem;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 700px) {

  ::-webkit-scrollbar {
    width: 4px;
  }

  $sidePaddings: 5%;

  .hidden.top {
    transform: translateX(-320px) !important;
  }

  .hidden.bottom {
    transform: translateX(320px) !important;
  }

  .hidden.show {
    opacity: 1;
    transform: translateX(0) !important;
  }

  .navbarCont {
    height: 8%;

    .navbar {

      .siteName {
        font-size: 1.2rem !important;
      }

      .links {
        display: none !important;
      }
    }
  }

  .mainSection {
    height: 92%;


    .homeCont {
      height: auto;

      .home {
        flex-direction: column;
        align-items: center;
        padding-inline: $sidePaddings;

        .descCont {
          order: 2;
          padding: 0;

          .header {
            font-size: 2.2rem;
          }
        }

        img {
          width: 100%;
          height: auto;
          order: 1;
        }
      }
    }

    .effects {
      padding-inline: $sidePaddings;

      .cards {
        grid-template-columns: 1fr !important;
        padding-top: 0;

        &:nth-child(2) {
          transform: translateY(0) !important;
        }
      }
    }

    .graphicsCont {
      height: auto;

      .graphics {
        flex-direction: column;
        padding-inline: $sidePaddings;

        img {
          order: 2;
          width: 100%;
          height: auto;
        }

        .descCont {
          padding: 1rem 0;
          display: flex;
          flex-direction: column;

          .header {
            font-size: 2.2rem;
          }

          .desc {
            padding-bottom: 1rem;
          }
        }
      }
    }

    .whatToDoCont {
      .whatToDo {
        padding-inline: $sidePaddings;

        .header {
          transform: rotate(0);
          padding: 2rem 0;
        }

        .suggestions {
          grid-template-columns: 1fr !important;

          .suggestion {
            flex-direction: column;

            img {
              width: 100%;
              height: auto;
            }

            .descCont {
              padding: 1.5rem;
            }
          }
        }
      }
    }
  }


}